venv
.venv
.env
scrap/
*node_modules/
.cursorrules
.DS_Store
python/agent/langgraph-fsi-agent/after/script.py
python/chatbot/sample-project-chatbot/openai-ollama/script.py
*/dist
*dist
application.properties
*.pdf

# Next.js
.next/

# Java / Maven
target/

# Node
node_modules/

# MacOS
.DS_Store
